@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600;700&display=swap');
/* font-family: 'Barlow Condensed', sans-serif; */
/* Regular 400, Medium 500, SemiBold 600, Bols 700*/

* {
    margin: 0;
    padding: 0;
}

#main {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-row-gap: 10px;
    grid-template-areas: "header""section""footer";
}


header {
    grid-area: header;
    background-color: #EFF8FF;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
}

ul li {
    display: inline-block;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
    text-align: right;
}

a {
    text-decoration: none;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 2em;
    font-weight: 400;
    color: #1E75BB;
}

ul li a:hover {
    font-weight: 600;
}

#indexHeader,
#nosotros,
#servicios,
#clientes,
#contacto {
    font-weight: 700;
}

section {
    grid-area: section;
}

.contenedor {
    position: relative;
    grid-column: 1/4;
    margin-left: 1.5rem;
}

.texto1 {
    position: absolute;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 3em;
    font-weight: 600;
    color: white;
    top: 130px;
    left: 170px;
}

.texto2 {
    position: absolute;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 3em;
    font-weight: 600;
    color: white;
    top: 60%;
    left: 28%;
    transform: translate(-50%, -50%);
}

#textoNosotros,
#textoServicios,
#textoClientes,
#textoContacto {
    padding-top: 20px;
    padding-left: 60px;
}

#textoClientes,
#textoContacto {
    color: #155D8D;
}

.texto {
    text-align: center;
    padding-left: 110px;
    padding-right: 110px;
    grid-area: "texto";
}

h2,
h3,
h4 {
    font-family: 'Barlow Condensed', sans-serif;
    line-height: 2;
    text-align: center;
}

h2 {
    font-weight: 700;
    font-size: 2.5em;
    color: #1E75BB;
    padding-top: 20px;
}

h3 {
    font-weight: 600;
    font-size: 2em;
}

h4 {
    font-weight: 400;
    font-size: 1.7em;
    padding-bottom: 20px;
}

.titulos {
    font-size: 2em;
    color: #155D8D;
    padding-top: 30px;
    text-align: center;
}

div>.titulos {
    padding-top: 10px;
}

.parrafo {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    font-size: 1.8em;
    line-height: 1.5;
    text-align: justify;
    padding-bottom: 30px;
}

.articles {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.articulo {
    background-color: #EFF8FF;
    width: 330px;
    height: 534;
    margin-top: 60px;
    margin-bottom: 60px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 10px;
    transition: box-shadow .1s;
}

.articulo:hover {
    box-shadow: 0 0 15px rgba(15, 15, 15, 0.397);
}

.imagenArticle {
    padding-left: 45px;
}

.parrafoArticle {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    font-size: 1.3em;
    line-height: 1.5;
    text-align: center;
    width: 250px;
    padding-left: 40px;
}

.cajaBoton {
    margin-bottom: 80px;
}

.boton {
    background-color: #1E75BB;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    font-size: 2em;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    margin-left: 560px;
    line-height: 80px;
    transition: box-shadow .3s;
}

.boton:hover {
    box-shadow: 0 0 11px rgba(15, 15, 15, 0.404);
}

footer {
    grid-area: "footer";
    background-color: #155D8D;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    grid-column: 1/4;
}

#footer {
    display: flex;
    justify-content: center;
}

.linkFooter {
    color: white;
    text-align: center;
}

.linkFooter:hover {
    font-weight: 600;
}

#indexFooter,
#nosotrosFooter,
#serviciosFooter,
#clientesFooter,
#contactoFooter {
    font-weight: 700;
}

#redes {
    display: flex;
    justify-content: center;
}

.botonesRedes {
    color: white;
    display: flex;
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 10px;
}

.copyright {
    font-family: 'Barlow Condensed', sans-serif;
    color: white;
    font-size: 1em;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#nD {
    font-weight: 600;
    margin-right: 10px;
}

#allRights {
    font-weight: 400;
    margin-left: 10 px;
}

.iconosServicios {
    padding-left: 130px;
}

.servicios {
    background-color: #EFF8FF;
    font-family: 'Barlow Condensed', sans-serif;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-column-gap: auto;
    grid-row-gap: 50px;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
}

h5 {
    font-weight: 500;
    font-size: 1.3em;
    text-align: center;
    line-height: 2;

}

.parrafoServicio {
    font-size: 1.2em;
    text-align: center;
    line-height: 1.5;
    width: 85%;
    padding-left: 20px;
}

.articuloServicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    transition: .3s;
}

.articuloServicio:hover {
    color: #155D8D;
}

.clientes {
    grid-column: 1/4;
    margin-left: 1.5rem;
    margin-top: 2rem;
}

#coment1 {
    padding-top: 20px;
    padding-left: 60px;
}

#coment2 {
    padding-top: 80px;
    padding-left: 280px;
}

#coment3 {
    padding-top: 80px;
    padding-left: 350px;
    padding-bottom: 80px;
}

.formularioContacto {
    background-color: #EFF8FF;
    height: 550px;
    width: 100%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-template-areas: "datos formulario";
    justify-items: center;
    align-items: center;
}

.datosContacto {
    grid-area: datos;
    align-self: center;
}

.horarioAtencion {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 2em;
    font-weight: 700;
    color: #155D8D;
    padding-bottom: 10px;
    padding-top: 30px;
    text-align: center;
}

.textoContacto {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
    padding-bottom: 10px;
}

.textoFormulario {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    text-align: justify;
    width: 50%;
    padding-top: 60px;
    padding-bottom: 10px;
    padding-right: 200px;
    padding-left: 180px;
}

.formulario {
    grid-area: formulario;
    font-family: 'Barlow Condensed', sans-serif;
    width: 450px;
    margin-right: 150px;
    background-color: #155d8d88;
    padding: 50px 20px;
    box-sizing: border-box;
    border-radius: 5px;
}

input,
textarea {
    font-family: 'Barlow Condensed', sans-serif;
    width: 100%;
    margin-bottom: 30px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 1.2em;
}

textarea {
    min-height: 100px;
    max-height: 200px;
    min-width: 100%;
    max-width: 100%;
}

#boton {
    background-color: #1E75BB;
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    border-radius: 50px;
    padding: 10px 10px 10px 10px;
    transition: box-shadow .3s;
}

#boton:hover {
    box-shadow: 0 0 11px rgba(15, 15, 15, 0.404);
    cursor: pointer;
}
